<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <nav class="navbar is-warning" style="display: flex; justify-content:space-between; align-items: center;">
            <div class="navbar-brand">
            <a href="/" class="navbar-item is-size-4" style="color: white; font-weight: bold;">CAMOS</a>
            </div>
    </nav>
    
    <h1 class="title">登録</h1>
    <form method="POST">
        {% csrf_token %}
        {{ add_form.as_p }}
        <input type="submit" value="登録">
    </form>

</body>
</html>